/*
node_modules
!LICENCE
!README.md
!modules.json
!package.json
!package-lock.json
!/.vscode/
!.gitignore
!/tools
!/kinstall/
/kinstall/tmp
!/kmap/
/kmap/backup
!/kinfo/
!/kgroup/
!/kmem/
*/.DS_Store
!/kchat/
!/kbase
